h1{
    text-align: center;
}
.order-check{
    /* padding-top: 150px; */
    text-align: center;
}

.order-amount{
    text-align: center;
    /* padding-top: 50px; */
}
.btn{
    text-align: center;
}

.payment-check{
    padding-top: 100px;
    text-align: center;
}