h2{
   margin-top: 30px;
   text-align: center;
}
p{
   margin-top: 10px;
   text-align: center;
}
.createbox{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}
body{
   background-color: #f0f0f0	;
}
.create{
   margin-top: 50px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.btn-btn-primary{
   margin-left: 180px;
   background-color: #FD9940;
   border-color: #FD9940;
}
a.btn-gradient {
   margin-top: 5px;
   color: #fff;
   border: 2px solid #fff;
   border-radius: 0;
   background-image: -webkit-gradient(linear, left top, right top, from(#fa709a), to(#fee140));
   background-image: -webkit-linear-gradient(left, #fa709a 0%, #fee140 100%);
   background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
   -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
   box-shadow: 0 5px 10px rgba(0, 0, 0, .1); 
}
a.btn-gradient:hover {
   -webkit-transform: translate(0, -2px);
   transform: translate(0, -2px);
   color: #fff;
   -webkit-box-shadow: 0 8px 15px rgba(0, 0, 0, .2);
   box-shadow: 0 8px 15px rgba(0, 0, 0, .2);
}
.restaurant{
   margin-left: 10px;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   flex-direction: row;
   align-items: center;
   overflow: scroll;
}
img{
   height: 150px;
   width: 200px;
}
main{
   height: 1000px;
}
.edit-btn{
   text-align: center;
}
.edit-btn2{
   display       : inline-block;
   border-radius : 5%;          /* 角丸       */
   font-size     : 18pt;        /* 文字サイズ */
   text-align    : center;      /* 文字位置   */
   cursor        : pointer;     /* カーソル   */
   padding       : 12px 12px;   /* 余白       */
   background    : #FD9940;     /* 背景色     */
   color         : #ffffff;     /* 文字色     */
   line-height   : 1em;         /* 1行の高さ  */
   transition    : .3s;         /* なめらか変化 */
   box-shadow    : 6px 6px 3px #666666;  /* 影の設定 */
   border        : 2px solid #FD9940;    /* 枠の指定 */
}
.input{
   text-align: center;
   padding-top: 100px;
}
.update-btn{
   padding-top: 20px;
}
.update-btn2{
   display       : inline-block;
   border-radius : 5%;          /* 角丸       */
   font-size     : 18pt;        /* 文字サイズ */
   text-align    : center;      /* 文字位置   */
   cursor        : pointer;     /* カーソル   */
   padding       : 12px 12px;   /* 余白       */
   background    : #FD9940;     /* 背景色     */
   color         : #ffffff;     /* 文字色     */
   line-height   : 1em;         /* 1行の高さ  */
   transition    : .3s;         /* なめらか変化 */
   box-shadow    : 6px 6px 3px #666666;  /* 影の設定 */
   border        : 2px solid #FD9940;    /* 枠の指定 */
}
.delete-btn{
   display       : inline-block;
   border-radius : 5%;          /* 角丸       */
   font-size     : 18pt;        /* 文字サイズ */
   text-align    : center;      /* 文字位置   */
   cursor        : pointer;     /* カーソル   */
   padding       : 12px 12px;   /* 余白       */
   background    : #FD9940;     /* 背景色     */
   color         : #ffffff;     /* 文字色     */
   line-height   : 1em;         /* 1行の高さ  */
   transition    : .3s;         /* なめらか変化 */
   box-shadow    : 6px 6px 3px #666666;  /* 影の設定 */
   border        : 2px solid #FD9940;    /* 枠の指定 */
}