.input{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

h3{
   margin-top: 10px;
}
.human{
   color: #FD9940;
   margin-top: 1rem;
}
.btn{
   margin-top: 1rem;
}